.loginform{
    width: 440px;
    height: 560px;
    padding: 14px 16px;
    background: transparent;
    background-color: rgba(255,255,255,255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    box-shadow: 5px 5px gray;
    outline: none;
    font-family: Roboto;
}

.log-title{
    font-weight: bold;
    margin-top: 20px;
    font-size: 40px;
    font-family: Roboto;
}

.email{
    margin-top: 80px;
    width: 80%;
    padding: 7px;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
}

.password{
    width: 80%;
    padding: 7px;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
}

.login-but{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25%;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
    background-color: #A7F3D0;
}

.login-but:hover{
    background-color: white;
}


.register{
    cursor: pointer;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
}