.form-diary{
    height: 706px; 
    width: 563px; 
    position: fixed;
    left: 35%;
    top: 10%;
    background-color: rgb(240, 235, 235);
    box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.75);
    border: 2px solid black;
    box-shadow: 5px 5px gray;
}

.title-form-diary{
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(245, 222, 179, 0.308);
    margin-bottom: 10vh;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
    font-weight: bold;
}

.select-modal{
    width: 200px;
    background-color: black;
    color: black;
    margin-bottom: 20px;
    border: 1px solid black;
}

.select-modal:focus{
    box-shadow: 5px 5px gray;

}

.description-diary{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    display: block;
}

.description-input{
    border: 1px solid;
    width: 70%;
    background-color: rgb(236, 233, 228);
    height: 100px;
    border: 1px solid black;
}

.description-input:focus{
    background-color: white;
    box-shadow: 5px 5px gray;
}

.time-diary{
    border: 1px solid black;
}

.time-diary:focus{
    box-shadow: 5px 5px gray;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-button{
    font-size: 18px;
    width: 3vw;
    height: 3.5vh;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
    color: white;
    background-color: #16A085;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
}

.description-button:hover{
    background-color: #16a07a;
    border: 0;
    color: white;
}

.cancel-button{
    font-size: 18px;
    width: 3vw;
    height: 3.5vh;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
}

.delete-button{
    font-size: 18px;
    width: 3vw;
    height: 3.5vh;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
    color: white;
    background-color: #E74C3C;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
}

.delete-button:hover{
    background-color: #e74c3c;
    color: white;
    border: 0;
}


.title-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(245, 222, 179, 0.308);
    width: 40%;
    margin-left: 30%;
    margin-top: 5vh;
}