.form{
    width: 600px;
    height: 250px;
    padding: 20px;
    background-color: #FF6600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
};