.site-page-header-ghost-wrapper{
    padding: 24px;
    background-color: #FF6600;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
    color: white;
}

.p{
    font-weight: bolder;
    font-size: 36px;
    position: fixed;
    left: 8%;
    top: 30px;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logOut-btn{
    font-size: 40px;
    position: fixed;
    top: 30;
    left: 88%;
}